<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Inicio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, sequi dicta harum placeat ex eos quaerat, quis pariatur minima possimus aperiam dolorum ratione provident dolor iste eum voluptas eaque nesciunt nostrum, exercitationem earum commodi voluptates aut deleniti. Repudiandae harum quibusdam ea facilis vel itaque perferendis beatae quam voluptates! Deserunt, iusto!</p>
    


    <div class="row">
        <div class="caja-1">

        </div>
        <div class="caja-1">

        </div>
        <div class="caja-1">

        </div>
        <div class="caja-1">

        </div>
        <div class="caja-1">

        </div>
    </div>


</body>
</html>
