.caja-1{
    background-color: rgb(48, 48, 224);
    width: 250px;
    height: 350px;
    border-radius: 4%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border-color: black;
}

.row {
    width: 100%;
    height: 500px;
    background-color:rgb(216, 146, 60);
    align-items: center;
    display: flex;
    padding: 10px;

}